<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Info</key>
	<dict>
		<key>FilenameFormat</key>
		<string>{size}_{basename}{extension}</string>
		<key>Sizes</key>
		<array>
			<integer>80</integer>
		</array>
		<key>ThemeComment</key>
		<string>Icon theme project with tilish style, by Tiheum</string>
		<key>ThemeName</key>
		<string>Faenza</string>
	</dict>
	<key>Synonyms</key>
	<dict>
		<key>application-7zip</key>
		<string>application-x-7zip</string>
		<key>application-atom+xml</key>
		<string>application-rss+xml</string>
		<key>application-illustrator</key>
		<string>x-office-drawing</string>
		<key>application-javascript</key>
		<string>text-x-javascript</string>
		<key>application-magicpoint</key>
		<string>x-office-presentation</string>
		<key>application-mbox</key>
		<string>message</string>
		<key>application-octet-stream</key>
		<string>multipart-encrypted</string>
		<key>application-ogg</key>
		<string>audio-x-vorbis+ogg</string>
		<key>application-pgp-encrypted</key>
		<string>encrypted</string>
		<key>application-pkcs7-mime</key>
		<string>application-pgp-keys</string>
		<key>application-postscript</key>
		<string>text-richtext</string>
		<key>application-rtf</key>
		<string>text-richtext</string>
		<key>application-text</key>
		<string>text-plain</string>
		<key>application-vnd.lotus-1-2-3</key>
		<string>x-office-spreadsheet</string>
		<key>application-vnd.ms-access</key>
		<string>text-x-sql</string>
		<key>application-vnd.oasis.opendocument.database</key>
		<string>text-x-sql</string>
		<key>application-vnd.oasis.opendocument.graphics</key>
		<string>x-office-drawing</string>
		<key>application-vnd.oasis.opendocument.image</key>
		<string>x-office-drawing</string>
		<key>application-vnd.oasis.opendocument.presentation</key>
		<string>x-office-presentation</string>
		<key>application-vnd.oasis.opendocument.spreadsheet</key>
		<string>x-office-spreadsheet</string>
		<key>application-vnd.oasis.opendocument.text</key>
		<string>x-office-document</string>
		<key>application-vnd.oasis.opendocument.text-web</key>
		<string>text-html</string>
		<key>application-vnd.openxmlformats-officedocument.presentationml.presentation</key>
		<string>application-vnd.ms-powerpoint</string>
		<key>application-vnd.openxmlformats-officedocument.presentationml.slideshow</key>
		<string>application-vnd.ms-powerpoint</string>
		<key>application-vnd.openxmlformats-officedocument.spreadsheetml.sheet</key>
		<string>application-vnd.ms-excel</string>
		<key>application-vnd.openxmlformats-officedocument.wordprocessingml.document</key>
		<string>application-msword</string>
		<key>application-vnd.rn-realmedia</key>
		<string>video-x-generic</string>
		<key>application-vnd.rn-realmedia-secure</key>
		<string>video-x-generic</string>
		<key>application-vnd.rn-realmedia-vbr</key>
		<string>video-x-generic</string>
		<key>application-vnd.stardivision.calc</key>
		<string>x-office-spreadsheet</string>
		<key>application-vnd.stardivision.impress</key>
		<string>x-office-presentation</string>
		<key>application-vnd.stardivision.writer</key>
		<string>x-office-document</string>
		<key>application-vnd.sun.xml.calc</key>
		<string>x-office-spreadsheet</string>
		<key>application-vnd.sun.xml.draw</key>
		<string>x-office-drawing</string>
		<key>application-vnd.sun.xml.impress</key>
		<string>x-office-presentation</string>
		<key>application-vnd.sun.xml.writer</key>
		<string>x-office-document</string>
		<key>application-vnd.wordperfect</key>
		<string>x-office-document</string>
		<key>application-wordperfect</key>
		<string>x-office-document</string>
		<key>application-x-7z-compressed</key>
		<string>application-x-7zip</string>
		<key>application-x-abiword</key>
		<string>x-office-document</string>
		<key>application-x-applix-spreadsheet</key>
		<string>x-office-spreadsheet</string>
		<key>application-x-applix-word</key>
		<string>x-office-document</string>
		<key>application-x-arc</key>
		<string>application-x-archive</string>
		<key>application-x-arj</key>
		<string>application-x-archive</string>
		<key>application-x-bzip</key>
		<string>application-x-archive</string>
		<key>application-x-bzip-compressed</key>
		<string>application-x-archive</string>
		<key>application-x-bzip-compressed-tar</key>
		<string>application-x-archive</string>
		<key>application-x-class-file</key>
		<string>text-x-java</string>
		<key>application-x-compress</key>
		<string>application-x-archive</string>
		<key>application-x-compressed-tar</key>
		<string>application-x-gzip</string>
		<key>application-x-cpio</key>
		<string>application-x-archive</string>
		<key>application-x-cpio-compressed</key>
		<string>application-x-archive</string>
		<key>application-x-csproj</key>
		<string>application-x-sln</string>
		<key>application-x-deb</key>
		<string>deb</string>
		<key>application-x-designer</key>
		<string>application-x-glade</string>
		<key>application-x-desktop</key>
		<string>application-x-theme</string>
		<key>application-x-dvi</key>
		<string>x-office-document</string>
		<key>application-x-extension-html</key>
		<string>text-html</string>
		<key>application-x-font-afm</key>
		<string>font-x-generic</string>
		<key>application-x-font-bdf</key>
		<string>font-x-generic</string>
		<key>application-x-font-linux-psf</key>
		<string>font-x-generic</string>
		<key>application-x-font-pcf</key>
		<string>font-x-generic</string>
		<key>application-x-font-sunos-news</key>
		<string>font-x-generic</string>
		<key>application-x-font-ttf</key>
		<string>font-x-generic</string>
		<key>application-x-gnome-app-info</key>
		<string>application-x-theme</string>
		<key>application-x-gnome-theme-package</key>
		<string>application-x-theme</string>
		<key>application-x-gnumeric</key>
		<string>x-office-spreadsheet</string>
		<key>application-x-gzpostscript</key>
		<string>text-richtext</string>
		<key>application-x-java</key>
		<string>text-x-java</string>
		<key>application-x-java-archive</key>
		<string>application-x-jar</string>
		<key>application-x-javascript</key>
		<string>text-x-javascript</string>
		<key>application-x-keepass</key>
		<string>application-pgp-keys</string>
		<key>application-x-killustrator</key>
		<string>image-x-generic</string>
		<key>application-x-kpresenter</key>
		<string>x-office-presentation</string>
		<key>application-x-kspread</key>
		<string>x-office-spreadsheet</string>
		<key>application-x-kword</key>
		<string>x-office-document</string>
		<key>application-x-lha</key>
		<string>application-x-archive</string>
		<key>application-x-lhz</key>
		<string>application-x-archive</string>
		<key>application-x-m4</key>
		<string>text-richtext</string>
		<key>application-x-matroska</key>
		<string>video-x-generic</string>
		<key>application-x-ole-storage</key>
		<string>multipart-encrypted</string>
		<key>application-x-pak</key>
		<string>package-x-generic</string>
		<key>application-x-pem-key</key>
		<string>application-pgp-keys</string>
		<key>application-x-python-bytecode</key>
		<string>text-x-python</string>
		<key>application-x-rpm</key>
		<string>rpm</string>
		<key>application-x-scribus</key>
		<string>application-vnd.scribus</string>
		<key>application-x-shellscript</key>
		<string>text-x-script</string>
		<key>application-x-shockwave-flash</key>
		<string>application-x-flash-video</string>
		<key>application-x-sqlite2</key>
		<string>text-x-sql</string>
		<key>application-x-sqlite3</key>
		<string>text-x-sql</string>
		<key>application-x-stuffit</key>
		<string>application-x-archive</string>
		<key>application-x-tarz</key>
		<string>application-x-archive</string>
		<key>application-x-tex</key>
		<string>text-x-tex</string>
		<key>application-x-trash</key>
		<string>text-x-bak</string>
		<key>application-xhtml+xml</key>
		<string>text-xhtml+xml</string>
		<key>application-xml</key>
		<string>text-xml</string>
		<key>application-zip</key>
		<string>application-x-zip</string>
		<key>audio</key>
		<string>audio-x-generic</string>
		<key>audio-mpeg</key>
		<string>audio-x-mpeg</string>
		<key>audio-x-adpcm</key>
		<string>audio-x-wav</string>
		<key>audio-x-flac+ogg</key>
		<string>audio-x-vorbis+ogg</string>
		<key>audio-x-mpegurl</key>
		<string>audio-x-mp3-playlist</string>
		<key>audio-x-scpls</key>
		<string>audio-x-mp3-playlist</string>
		<key>audio-x-speex+ogg</key>
		<string>audio-x-vorbis+ogg</string>
		<key>binary</key>
		<string>application-x-executable</string>
		<key>document</key>
		<string>text-richtext</string>
		<key>exec</key>
		<string>application-x-executable</string>
		<key>folder_tar</key>
		<string>application-x-tar</string>
		<key>font</key>
		<string>font-x-generic</string>
		<key>font_bitmap</key>
		<string>font-x-generic</string>
		<key>font_truetype</key>
		<string>font-x-generic</string>
		<key>font_type1</key>
		<string>font-x-generic</string>
		<key>gnome-exe-thumbnailer-generic</key>
		<string>application-x-msdownload</string>
		<key>gnome-exe-thumbnailer-generic-x</key>
		<string>application-x-ms-dos-executable</string>
		<key>gnome-exe-thumbnailer-template</key>
		<string>application-x-msdownload</string>
		<key>gnome-fs-executable</key>
		<string>application-x-executable</string>
		<key>gnome-fs-regular</key>
		<string>empty</string>
		<key>gnome-package</key>
		<string>package-x-generic</string>
		<key>gtk-file</key>
		<string>empty</string>
		<key>html</key>
		<string>text-html</string>
		<key>image</key>
		<string>image-x-generic</string>
		<key>image-jpeg2000</key>
		<string>image-jpeg</string>
		<key>image-svg+xml</key>
		<string>x-office-drawing</string>
		<key>image-vnd.adobe.photoshop</key>
		<string>image-x-psd</string>
		<key>image-vnd.microsoft.icon</key>
		<string>image-x-ico</string>
		<key>image-x-cmu-raster</key>
		<string>image-x-generic</string>
		<key>image-x-icon</key>
		<string>image-x-ico</string>
		<key>image-x-portable-bitmap</key>
		<string>image-bmp</string>
		<key>image-x-psdimage-x-psd</key>
		<string>image-x-psd</string>
		<key>image-x-svg+xml</key>
		<string>x-office-drawing</string>
		<key>image-x-tga</key>
		<string>image-x-generic</string>
		<key>image-x-win-bitmap</key>
		<string>image-bmp</string>
		<key>image-x-xpixmap</key>
		<string>image-x-generic</string>
		<key>jpeg</key>
		<string>image-jpeg</string>
		<key>jpg</key>
		<string>image-jpeg</string>
		<key>kpresenter_kpr</key>
		<string>x-office-presentation</string>
		<key>media-audio</key>
		<string>audio-x-generic</string>
		<key>media-image</key>
		<string>image-x-generic</string>
		<key>media-video</key>
		<string>video-x-generic</string>
		<key>message-rfc822</key>
		<string>message</string>
		<key>misc</key>
		<string>text-plain</string>
		<key>none</key>
		<string>unknown</string>
		<key>office-document</key>
		<string>x-office-document</string>
		<key>office-illustration</key>
		<string>x-office-drawing</string>
		<key>office-spreadsheet</key>
		<string>x-office-spreadsheet</string>
		<key>openofficeorg3-database</key>
		<string>text-x-sql</string>
		<key>openofficeorg3-drawing</key>
		<string>x-office-drawing</string>
		<key>openofficeorg3-extension</key>
		<string>extension</string>
		<key>openofficeorg3-oasis-database</key>
		<string>text-x-sql</string>
		<key>openofficeorg3-oasis-spreadsheet</key>
		<string>x-office-spreadsheet</string>
		<key>package</key>
		<string>package-x-generic</string>
		<key>package_editors</key>
		<string>text-plain</string>
		<key>package_wordprocessing</key>
		<string>x-office-document</string>
		<key>pdf</key>
		<string>application-pdf</string>
		<key>playlist</key>
		<string>audio-x-mp3-playlist</string>
		<key>playlist-automatic</key>
		<string>text-x-makefile</string>
		<key>shellscript</key>
		<string>text-x-script</string>
		<key>sound</key>
		<string>audio-x-generic</string>
		<key>source-playlist</key>
		<string>audio-x-mp3-playlist</string>
		<key>source-smart-playlist</key>
		<string>text-x-makefile</string>
		<key>spreadsheet</key>
		<string>x-office-spreadsheet</string>
		<key>stock_addressbook</key>
		<string>x-office-address-book</string>
		<key>stock_calendar</key>
		<string>vcalendar</string>
		<key>stock_script</key>
		<string>text-x-source</string>
		<key>svg</key>
		<string>x-office-drawing</string>
		<key>tar</key>
		<string>application-x-tar</string>
		<key>template_source</key>
		<string>text-x-generic-template</string>
		<key>text</key>
		<string>text-plain</string>
		<key>text-enriched</key>
		<string>text-richtext</string>
		<key>text-htmlh</key>
		<string>text-html</string>
		<key>text-mht</key>
		<string>text-html</string>
		<key>text-spreadsheet</key>
		<string>x-office-spreadsheet</string>
		<key>text-vnd.wap.wml</key>
		<string>text-html</string>
		<key>text-x-authors</key>
		<string>authors</string>
		<key>text-x-c++src</key>
		<string>text-x-c++</string>
		<key>text-x-credits</key>
		<string>authors</string>
		<key>text-x-csh</key>
		<string>text-x-script</string>
		<key>text-x-csharp</key>
		<string>text-x-source</string>
		<key>text-x-csrc</key>
		<string>text-x-c</string>
		<key>text-x-css</key>
		<string>text-css</string>
		<key>text-x-generic</key>
		<string>text-plain</string>
		<key>text-x-gtkrc</key>
		<string>application-x-theme</string>
		<key>text-x-install</key>
		<string>text-x-script</string>
		<key>text-x-java-source</key>
		<string>text-x-java</string>
		<key>text-x-makefile</key>
		<string>text-x-source</string>
		<key>text-x-preview</key>
		<string>empty</string>
		<key>text-x-sh</key>
		<string>text-x-script</string>
		<key>text-x-vcalendar</key>
		<string>vcalendar</string>
		<key>text-x-vcard</key>
		<string>user-info</string>
		<key>text-x-zsh</key>
		<string>text-x-script</string>
		<key>txt</key>
		<string>text-plain</string>
		<key>video</key>
		<string>video-x-generic</string>
		<key>video-x-ms-asf</key>
		<string>video-x-generic</string>
		<key>video-x-ms-wmv</key>
		<string>video-x-generic</string>
		<key>vnd.oasis.opendocument.drawing</key>
		<string>x-office-drawing</string>
		<key>wordprocessing</key>
		<string>x-office-document</string>
		<key>www</key>
		<string>text-html</string>
		<key>x-font-afm</key>
		<string>font-x-generic</string>
		<key>x-install</key>
		<string>text-x-install</string>
		<key>zip</key>
		<string>application-x-zip</string>
	</dict>
</dict>
</plist>
