<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3gp</key>
	<string>video/3gpp</string>
	<key>aab</key>
	<string>application/x-authoware-bin</string>
	<key>aam</key>
	<string>application/x-authoware-map</string>
	<key>aas</key>
	<string>application/x-authoware-seg</string>
	<key>ac</key>
	<string>text/ac</string>
	<key>ai</key>
	<string>application/postscript</string>
	<key>aif</key>
	<string>audio/x-aiff</string>
	<key>aifc</key>
	<string>audio/x-aiff</string>
	<key>aiff</key>
	<string>audio/x-aiff</string>
	<key>als</key>
	<string>audio/X-Alpha5</string>
	<key>am</key>
	<string>text/am</string>
	<key>amc</key>
	<string>application/x-mpeg</string>
	<key>ani</key>
	<string>application/octet-stream</string>
	<key>asc</key>
	<string>text/plain</string>
	<key>asd</key>
	<string>application/astound</string>
	<key>asf</key>
	<string>video/x-ms-asf</string>
	<key>asn</key>
	<string>application/astound</string>
	<key>asp</key>
	<string>application/x-asap</string>
	<key>asx</key>
	<string>video/x-ms-asf</string>
	<key>au</key>
	<string>audio/basic</string>
	<key>avb</key>
	<string>application/octet-stream</string>
	<key>avi</key>
	<string>video/x-msvideo</string>
	<key>awb</key>
	<string>audio/amr-wb</string>
	<key>awk</key>
	<string>application/x-awk</string>
	<key>bat</key>
	<string>text/bat</string>
	<key>bcpio</key>
	<string>application/x-bcpio</string>
	<key>bin</key>
	<string>application/octet-stream</string>
	<key>bld</key>
	<string>application/bld</string>
	<key>bld2</key>
	<string>application/bld2</string>
	<key>bmp</key>
	<string>application/x-MS-bmp</string>
	<key>bpk</key>
	<string>application/octet-stream</string>
	<key>bz2</key>
	<string>application/x-bzip2</string>
	<key>c</key>
	<string>text/x-c</string>
	<key>cal</key>
	<string>image/x-cals</string>
	<key>cc</key>
	<string>text/x-c++</string>
	<key>ccn</key>
	<string>application/x-cnc</string>
	<key>cco</key>
	<string>application/x-cocoa</string>
	<key>cdf</key>
	<string>application/x-netcdf</string>
	<key>cgi</key>
	<string>magnus-internal/cgi</string>
	<key>chat</key>
	<string>application/x-chat</string>
	<key>class</key>
	<string>application/octet-stream</string>
	<key>clp</key>
	<string>application/x-msclip</string>
	<key>cmake</key>
	<string>text/x-cmake</string>
	<key>cmx</key>
	<string>application/x-cmx</string>
	<key>co</key>
	<string>application/x-cult3d-object</string>
	<key>cod</key>
	<string>image/cis-cod</string>
	<key>conf</key>
	<string>text/conf</string>
	<key>cpio</key>
	<string>application/x-cpio</string>
	<key>cpp</key>
	<string>text/x-c++</string>
	<key>cpt</key>
	<string>application/mac-compactpro</string>
	<key>crd</key>
	<string>application/x-mscardfile</string>
	<key>cs</key>
	<string>text/x-csharp</string>
	<key>csh</key>
	<string>text/x-csh</string>
	<key>csm</key>
	<string>chemical/x-csml</string>
	<key>csml</key>
	<string>chemical/x-csml</string>
	<key>css</key>
	<string>text/css</string>
	<key>csv</key>
	<string>text/csv</string>
	<key>cur</key>
	<string>application/octet-stream</string>
	<key>dcm</key>
	<string>x-lml/x-evm</string>
	<key>dcr</key>
	<string>application/x-director</string>
	<key>dcx</key>
	<string>image/x-dcx</string>
	<key>dhtml</key>
	<string>text/html</string>
	<key>diff</key>
	<string>text/diff</string>
	<key>dir</key>
	<string>application/x-director</string>
	<key>dll</key>
	<string>application/octet-stream</string>
	<key>dmg</key>
	<string>application/octet-stream</string>
	<key>dms</key>
	<string>application/octet-stream</string>
	<key>doc</key>
	<string>application/msword</string>
	<key>docx</key>
	<string>application/msword</string>
	<key>dot</key>
	<string>application/x-dot</string>
	<key>dvi</key>
	<string>application/x-dvi</string>
	<key>dwf</key>
	<string>drawing/x-dwf</string>
	<key>dwg</key>
	<string>application/x-autocad</string>
	<key>dxf</key>
	<string>application/x-autocad</string>
	<key>dxr</key>
	<string>application/x-director</string>
	<key>ebk</key>
	<string>application/x-expandedbook</string>
	<key>el</key>
	<string>text/el</string>
	<key>emb</key>
	<string>chemical/x-embl-dl-nucleotide</string>
	<key>embl</key>
	<string>chemical/x-embl-dl-nucleotide</string>
	<key>eps</key>
	<string>application/postscript</string>
	<key>epub</key>
	<string>application/epub+zip</string>
	<key>eri</key>
	<string>image/x-eri</string>
	<key>es</key>
	<string>audio/echospeech</string>
	<key>esl</key>
	<string>audio/echospeech</string>
	<key>etc</key>
	<string>application/x-earthtime</string>
	<key>etx</key>
	<string>text/x-setext</string>
	<key>evm</key>
	<string>x-lml/x-evm</string>
	<key>evy</key>
	<string>application/x-envoy</string>
	<key>exe</key>
	<string>application/octet-stream</string>
	<key>fh4</key>
	<string>image/x-freehand</string>
	<key>fh5</key>
	<string>image/x-freehand</string>
	<key>fhc</key>
	<string>image/x-freehand</string>
	<key>fif</key>
	<string>image/fif</string>
	<key>flac</key>
	<string>audio/flac</string>
	<key>fm</key>
	<string>application/x-maker</string>
	<key>fpx</key>
	<string>image/x-fpx</string>
	<key>fvi</key>
	<string>video/isivideo</string>
	<key>gau</key>
	<string>chemical/x-gaussian-input</string>
	<key>gca</key>
	<string>application/x-gca-compressed</string>
	<key>gdb</key>
	<string>x-lml/x-gdb</string>
	<key>gif</key>
	<string>image/gif</string>
	<key>go</key>
	<string>text/go</string>
	<key>gps</key>
	<string>application/x-gps</string>
	<key>groovy</key>
	<string>text/groovy</string>
	<key>gtar</key>
	<string>application/x-gtar</string>
	<key>gz</key>
	<string>application/x-gzip</string>
	<key>h</key>
	<string>text/x-chdr</string>
	<key>hdf</key>
	<string>application/x-hdf</string>
	<key>hdm</key>
	<string>text/x-hdml</string>
	<key>hdml</key>
	<string>text/x-hdml</string>
	<key>hlp</key>
	<string>application/winhlp</string>
	<key>hqx</key>
	<string>application/mac-binhex40</string>
	<key>htm</key>
	<string>text/html</string>
	<key>html</key>
	<string>text/html</string>
	<key>hts</key>
	<string>text/html</string>
	<key>ice</key>
	<string>x-conference/x-cooltalk</string>
	<key>ico</key>
	<string>application/octet-stream</string>
	<key>ief</key>
	<string>image/ief</string>
	<key>ifm</key>
	<string>image/gif</string>
	<key>ifs</key>
	<string>image/ifs</string>
	<key>imy</key>
	<string>audio/melody</string>
	<key>ins</key>
	<string>application/x-NET-Install</string>
	<key>ips</key>
	<string>application/x-ipscript</string>
	<key>ipx</key>
	<string>application/x-ipix</string>
	<key>it</key>
	<string>audio/x-mod</string>
	<key>itz</key>
	<string>audio/x-mod</string>
	<key>ivr</key>
	<string>i-world/i-vrml</string>
	<key>j2k</key>
	<string>image/j2k</string>
	<key>jad</key>
	<string>text/vnd.sun.j2me.app-descriptor</string>
	<key>jam</key>
	<string>application/x-jam</string>
	<key>jar</key>
	<string>application/java-archive</string>
	<key>java</key>
	<string>text/x-java</string>
	<key>jnlp</key>
	<string>application/x-java-jnlp-file</string>
	<key>jpe</key>
	<string>image/jpeg</string>
	<key>jpeg</key>
	<string>image/jpeg</string>
	<key>jpg</key>
	<string>image/jpeg</string>
	<key>jpz</key>
	<string>image/jpeg</string>
	<key>js</key>
	<string>text/x-javascript</string>
	<key>json</key>
	<string>text/json</string>
	<key>jwc</key>
	<string>application/jwc</string>
	<key>kjx</key>
	<string>application/x-kjx</string>
	<key>lak</key>
	<string>x-lml/x-lak</string>
	<key>latex</key>
	<string>application/x-latex</string>
	<key>lcc</key>
	<string>application/fastman</string>
	<key>lcl</key>
	<string>application/x-digitalloca</string>
	<key>lcr</key>
	<string>application/x-digitalloca</string>
	<key>less</key>
	<string>text/less</string>
	<key>lgh</key>
	<string>application/lgh</string>
	<key>lha</key>
	<string>application/octet-stream</string>
	<key>lml</key>
	<string>x-lml/x-lml</string>
	<key>log</key>
	<string>text/log</string>
	<key>lmlpack</key>
	<string>x-lml/x-lmlpack</string>
	<key>lsf</key>
	<string>video/x-ms-asf</string>
	<key>lsx</key>
	<string>video/x-ms-asf</string>
	<key>lzh</key>
	<string>application/x-lzh</string>
	<key>m13</key>
	<string>application/x-msmediaview</string>
	<key>m14</key>
	<string>application/x-msmediaview</string>
	<key>m15</key>
	<string>audio/x-mod</string>
	<key>m3u</key>
	<string>audio/x-mpegurl</string>
	<key>m3url</key>
	<string>audio/x-mpegurl</string>
	<key>m4</key>
	<string>application/x-m4</string>
	<key>ma1</key>
	<string>audio/ma1</string>
	<key>ma2</key>
	<string>audio/ma2</string>
	<key>ma3</key>
	<string>audio/ma3</string>
	<key>ma5</key>
	<string>audio/ma5</string>
	<key>make</key>
	<string>text/make</string>
	<key>man</key>
	<string>application/x-troff-man</string>
	<key>map</key>
	<string>magnus-internal/imagemap</string>
	<key>markdown</key>
	<string>text/x-markdown</string>
	<key>mbd</key>
	<string>application/mbedlet</string>
	<key>mct</key>
	<string>application/x-mascot</string>
	<key>md</key>
	<string>text/x-markdown</string>
	<key>mdb</key>
	<string>application/x-msaccess</string>
	<key>mdz</key>
	<string>audio/x-mod</string>
	<key>me</key>
	<string>application/x-troff-me</string>
	<key>mel</key>
	<string>text/x-vmel</string>
	<key>mi</key>
	<string>application/x-mif</string>
	<key>mid</key>
	<string>audio/midi</string>
	<key>midi</key>
	<string>audio/midi</string>
	<key>mif</key>
	<string>application/x-mif</string>
	<key>mil</key>
	<string>image/x-cals</string>
	<key>mio</key>
	<string>audio/x-mio</string>
	<key>mmf</key>
	<string>application/x-skt-lbs</string>
	<key>mng</key>
	<string>video/x-mng</string>
	<key>mny</key>
	<string>application/x-msmoney</string>
	<key>moc</key>
	<string>application/x-mocha</string>
	<key>mocha</key>
	<string>application/x-mocha</string>
	<key>mod</key>
	<string>audio/x-mod</string>
	<key>mof</key>
	<string>application/x-yumekara</string>
	<key>mol</key>
	<string>chemical/x-mdl-molfile</string>
	<key>mop</key>
	<string>chemical/x-mopac-input</string>
	<key>mov</key>
	<string>video/quicktime</string>
	<key>movie</key>
	<string>video/x-sgi-movie</string>
	<key>mp2</key>
	<string>audio/x-mpeg</string>
	<key>mp3</key>
	<string>audio/x-mpeg</string>
	<key>mp4</key>
	<string>video/mp4</string>
	<key>mpc</key>
	<string>application/vnd.mpohun.certificate</string>
	<key>mpe</key>
	<string>video/mpeg</string>
	<key>mpeg</key>
	<string>video/mpeg</string>
	<key>mpg</key>
	<string>video/mpeg</string>
	<key>mpg4</key>
	<string>video/mp4</string>
	<key>mpga</key>
	<string>audio/mpeg</string>
	<key>mpn</key>
	<string>application/vnd.mophun.application</string>
	<key>mpp</key>
	<string>application/vnd.ms-project</string>
	<key>mps</key>
	<string>application/x-mapserver</string>
	<key>mrl</key>
	<string>text/x-mrml</string>
	<key>mrm</key>
	<string>application/x-mrm</string>
	<key>ms</key>
	<string>application/x-troff-ms</string>
	<key>mts</key>
	<string>application/metastream</string>
	<key>mtx</key>
	<string>application/metastream</string>
	<key>mtz</key>
	<string>application/metastream</string>
	<key>mzv</key>
	<string>application/metastream</string>
	<key>nar</key>
	<string>application/zip</string>
	<key>nbmp</key>
	<string>image/nbmp</string>
	<key>nc</key>
	<string>application/x-netcdf</string>
	<key>ndb</key>
	<string>x-lml/x-ndb</string>
	<key>ndwn</key>
	<string>application/ndwn</string>
	<key>nif</key>
	<string>application/x-nif</string>
	<key>nmz</key>
	<string>application/x-scream</string>
	<key>nokia-op-logo</key>
	<string>image/vnd.nok-oplogo-color</string>
	<key>npx</key>
	<string>application/x-netfpx</string>
	<key>nsnd</key>
	<string>audio/nsnd</string>
	<key>nva</key>
	<string>application/x-neva1</string>
	<key>oda</key>
	<string>application/oda</string>
	<key>odb</key>
	<string>application/vnd.oasis.opendocument.database</string>
	<key>odf</key>
	<string>application/vnd.oasis.opendocument.formula</string>
	<key>odg</key>
	<string>application/vnd.oasis.opendocument.graphics</string>
	<key>odi</key>
	<string>application/vnd.oasis.opendocument.image</string>
	<key>odp</key>
	<string>application/vnd.oasis.opendocument.presentation</string>
	<key>ods</key>
	<string>application/vnd.oasis.opendocument.spreadsheet</string>
	<key>odt</key>
	<string>application/vnd.oasis.opendocument.text</string>
	<key>oom</key>
	<string>application/x-AtlasMate-Plugin</string>
	<key>org</key>
	<string>text/org</string>
	<key>oth</key>
	<string>application/vnd.oasis.opendocument.text-web</string>
	<key>pac</key>
	<string>audio/x-pac</string>
	<key>pae</key>
	<string>audio/x-epac</string>
	<key>pan</key>
	<string>application/x-pan</string>
	<key>path</key>
	<string>text/path</string>
	<key>pbm</key>
	<string>image/x-portable-bitmap</string>
	<key>pch</key>
	<string>text/x-c++hdr</string>
	<key>pcx</key>
	<string>image/x-pcx</string>
	<key>pda</key>
	<string>image/x-pda</string>
	<key>pdb</key>
	<string>chemical/x-pdb</string>
	<key>pde</key>
	<string>text/pde</string>
	<key>pdf</key>
	<string>application/pdf</string>
	<key>pfr</key>
	<string>application/font-tdpfr</string>
	<key>pgm</key>
	<string>image/x-portable-graymap</string>
	<key>php</key>
	<string>text/x-php</string>
	<key>pl</key>
	<string>text/x-perl</string>
	<key>pict</key>
	<string>image/x-pict</string>
	<key>pm</key>
	<string>application/x-perl</string>
	<key>pmd</key>
	<string>application/x-pmd</string>
	<key>png</key>
	<string>image/png</string>
	<key>pnm</key>
	<string>image/x-portable-anymap</string>
	<key>pnz</key>
	<string>image/png</string>
	<key>pot</key>
	<string>application/vnd.ms-powerpoint</string>
	<key>ppm</key>
	<string>image/x-portable-pixmap</string>
	<key>pps</key>
	<string>application/vnd.ms-powerpoint</string>
	<key>ppt</key>
	<string>application/vnd.ms-powerpoint</string>
	<key>pptx</key>
	<string>application/vnd.ms-powerpoint</string>
	<key>pqf</key>
	<string>application/x-cprplayer</string>
	<key>pqi</key>
	<string>application/cprplayer</string>
	<key>prc</key>
	<string>application/x-prc</string>
	<key>properties</key>
	<string>text/properties</string>
	<key>proxy</key>
	<string>application/x-ns-proxy-autoconfig</string>
	<key>ps</key>
	<string>application/postscript</string>
	<key>ptlk</key>
	<string>application/listenup</string>
	<key>pub</key>
	<string>application/x-mspublisher</string>
	<key>pvx</key>
	<string>video/x-pv-pvx</string>
	<key>py</key>
	<string>text/x-python</string>
	<key>pyc</key>
	<string>application/x-python-bytecode</string>
	<key>qcp</key>
	<string>audio/vnd.qcelp</string>
	<key>qt</key>
	<string>video/quicktime</string>
	<key>qti</key>
	<string>image/x-quicktime</string>
	<key>qtif</key>
	<string>image/x-quicktime</string>
	<key>r3t</key>
	<string>text/vnd.rn-realtext3d</string>
	<key>ra</key>
	<string>audio/x-pn-realaudio</string>
	<key>ram</key>
	<string>audio/x-pn-realaudio</string>
	<key>rar</key>
	<string>application/x-rar</string>
	<key>ras</key>
	<string>image/x-cmu-raster</string>
	<key>rb</key>
	<string>text/x-ruby</string>
	<key>rdf</key>
	<string>application/rdf+xml</string>
	<key>rf</key>
	<string>image/vnd.rn-realflash</string>
	<key>rgb</key>
	<string>image/x-rgb</string>
	<key>rlf</key>
	<string>application/x-richlink</string>
	<key>rm</key>
	<string>audio/x-pn-realaudio</string>
	<key>rmf</key>
	<string>audio/x-rmf</string>
	<key>rmm</key>
	<string>audio/x-pn-realaudio</string>
	<key>rmvb</key>
	<string>audio/x-pn-realaudio</string>
	<key>rnx</key>
	<string>application/vnd.rn-realplayer</string>
	<key>roff</key>
	<string>application/x-troff</string>
	<key>rp</key>
	<string>image/vnd.rn-realpix</string>
	<key>rpm</key>
	<string>application/x-rpm</string>
	<key>rst</key>
	<string>text/rst</string>
	<key>rt</key>
	<string>text/vnd.rn-realtext</string>
	<key>rte</key>
	<string>x-lml/x-gps</string>
	<key>rtf</key>
	<string>application/rtf</string>
	<key>rtg</key>
	<string>application/metastream</string>
	<key>rtx</key>
	<string>text/richtext</string>
	<key>rv</key>
	<string>video/vnd.rn-realvideo</string>
	<key>rwc</key>
	<string>application/x-rogerwilco</string>
	<key>s3m</key>
	<string>audio/x-mod</string>
	<key>s3z</key>
	<string>audio/x-mod</string>
	<key>sc</key>
	<string>text/sc</string>
	<key>sca</key>
	<string>application/x-supercard</string>
	<key>scala</key>
	<string>text/scala</string>
	<key>scd</key>
	<string>text/x-msschedule</string>
	<key>schelp</key>
	<string>text/schelp</string>
	<key>script</key>
	<string>text/script</string>
	<key>sdf</key>
	<string>application/e-score</string>
	<key>sdp</key>
	<string>application/sdp</string>
	<key>sea</key>
	<string>application/x-stuffit</string>
	<key>seaf</key>
	<string>text/x-seafile</string>
	<key>sgm</key>
	<string>text/x-sgml</string>
	<key>sgml</key>
	<string>text/x-sgml</string>
	<key>sh</key>
	<string>text/x-sh</string>
	<key>shar</key>
	<string>application/x-shar</string>
	<key>shtml</key>
	<string>magnus-internal/parsed-html</string>
	<key>shw</key>
	<string>application/presentations</string>
	<key>si6</key>
	<string>image/si6</string>
	<key>si7</key>
	<string>image/vnd.stiwap.sis</string>
	<key>si9</key>
	<string>image/vnd.lgtwap.sis</string>
	<key>sis</key>
	<string>application/vnd.symbian.install</string>
	<key>sit</key>
	<string>application/x-stuffit</string>
	<key>skd</key>
	<string>application/x-Koan</string>
	<key>skm</key>
	<string>application/x-Koan</string>
	<key>skp</key>
	<string>application/x-Koan</string>
	<key>skt</key>
	<string>application/x-Koan</string>
	<key>slc</key>
	<string>application/x-salsa</string>
	<key>smd</key>
	<string>audio/x-smd</string>
	<key>smi</key>
	<string>application/smil</string>
	<key>smil</key>
	<string>application/smil</string>
	<key>smp</key>
	<string>application/studiom</string>
	<key>smz</key>
	<string>audio/x-smd</string>
	<key>snd</key>
	<string>audio/basic</string>
	<key>spc</key>
	<string>text/x-speech</string>
	<key>spl</key>
	<string>application/futuresplash</string>
	<key>spr</key>
	<string>application/x-sprite</string>
	<key>sprite</key>
	<string>application/x-sprite</string>
	<key>spt</key>
	<string>application/x-spt</string>
	<key>sql</key>
	<string>text/sql</string>
	<key>src</key>
	<string>application/x-wais-source</string>
	<key>stk</key>
	<string>application/hyperstudio</string>
	<key>stm</key>
	<string>audio/x-mod</string>
	<key>sv4cpio</key>
	<string>application/x-sv4cpio</string>
	<key>sv4crc</key>
	<string>application/x-sv4crc</string>
	<key>svf</key>
	<string>image/vnd</string>
	<key>svg</key>
	<string>image/svg+xml</string>
	<key>svh</key>
	<string>image/svh</string>
	<key>svr</key>
	<string>x-world/x-svr</string>
	<key>swf</key>
	<string>application/x-shockwave-flash</string>
	<key>swfl</key>
	<string>application/x-shockwave-flash</string>
	<key>t</key>
	<string>application/x-troff</string>
	<key>tad</key>
	<string>application/octet-stream</string>
	<key>talk</key>
	<string>text/x-speech</string>
	<key>tar</key>
	<string>application/x-tar</string>
	<key>taz</key>
	<string>application/x-tar</string>
	<key>tbp</key>
	<string>application/x-timbuktu</string>
	<key>tbt</key>
	<string>application/x-timbuktu</string>
	<key>tcl</key>
	<string>application/x-tcl</string>
	<key>tex</key>
	<string>text/x-tex</string>
	<key>texi</key>
	<string>application/x-texinfo</string>
	<key>texinfo</key>
	<string>application/x-texinfo</string>
	<key>text</key>
	<string>text/plain</string>
	<key>tgz</key>
	<string>application/x-tar</string>
	<key>thm</key>
	<string>application/vnd.eri.thm</string>
	<key>tif</key>
	<string>image/tiff</string>
	<key>tiff</key>
	<string>image/tiff</string>
	<key>tki</key>
	<string>application/x-tkined</string>
	<key>tkined</key>
	<string>application/x-tkined</string>
	<key>toc</key>
	<string>application/toc</string>
	<key>torrent</key>
	<string>application/x-bittorrent</string>
	<key>toy</key>
	<string>image/toy</string>
	<key>tr</key>
	<string>application/x-troff</string>
	<key>trk</key>
	<string>x-lml/x-gps</string>
	<key>trm</key>
	<string>application/x-msterminal</string>
	<key>tsi</key>
	<string>audio/tsplayer</string>
	<key>tsp</key>
	<string>application/dsptype</string>
	<key>tsv</key>
	<string>text/tab-separated-values</string>
	<key>ttf</key>
	<string>application/octet-stream</string>
	<key>ttz</key>
	<string>application/t-time</string>
	<key>txt</key>
	<string>text/plain</string>
	<key>ult</key>
	<string>audio/x-mod</string>
	<key>ustar</key>
	<string>application/x-ustar</string>
	<key>uu</key>
	<string>application/x-uuencode</string>
	<key>uue</key>
	<string>application/x-uuencode</string>
	<key>vcd</key>
	<string>application/x-cdlink</string>
	<key>vcf</key>
	<string>text/x-vcard</string>
	<key>vdo</key>
	<string>video/vdo</string>
	<key>vi</key>
	<string>text/vi</string>
	<key>vib</key>
	<string>audio/vib</string>
	<key>vim</key>
	<string>text/vim</string>
	<key>viv</key>
	<string>video/vivo</string>
	<key>vivo</key>
	<string>video/vivo</string>
	<key>vmd</key>
	<string>application/vocaltec-media-desc</string>
	<key>vmf</key>
	<string>application/vocaltec-media-file</string>
	<key>vmi</key>
	<string>application/x-dreamcast-vms-info</string>
	<key>vms</key>
	<string>application/x-dreamcast-vms</string>
	<key>vox</key>
	<string>audio/voxware</string>
	<key>vqe</key>
	<string>audio/x-twinvq-plugin</string>
	<key>vqf</key>
	<string>audio/x-twinvq</string>
	<key>vql</key>
	<string>audio/x-twinvq</string>
	<key>vre</key>
	<string>x-world/x-vream</string>
	<key>vrml</key>
	<string>x-world/x-vrml</string>
	<key>vrt</key>
	<string>x-world/x-vrt</string>
	<key>vrw</key>
	<string>x-world/x-vream</string>
	<key>vts</key>
	<string>workbook/formulaone</string>
	<key>wav</key>
	<string>audio/x-wav</string>
	<key>wax</key>
	<string>audio/x-ms-wax</string>
	<key>wbmp</key>
	<string>image/vnd.wap.wbmp</string>
	<key>web</key>
	<string>application/vnd.xara</string>
	<key>wi</key>
	<string>image/wavelet</string>
	<key>wis</key>
	<string>application/x-InstallShield</string>
	<key>wm</key>
	<string>video/x-ms-wm</string>
	<key>wma</key>
	<string>audio/x-ms-wma</string>
	<key>wmd</key>
	<string>application/x-ms-wmd</string>
	<key>wmf</key>
	<string>application/x-msmetafile</string>
	<key>wml</key>
	<string>text/vnd.wap.wml</string>
	<key>wmlc</key>
	<string>application/vnd.wap.wmlc</string>
	<key>wmls</key>
	<string>text/vnd.wap.wmlscript</string>
	<key>wmlsc</key>
	<string>application/vnd.wap.wmlscriptc</string>
	<key>wmlscript</key>
	<string>text/vnd.wap.wmlscript</string>
	<key>wmv</key>
	<string>video/x-ms-wmv</string>
	<key>wmx</key>
	<string>video/x-ms-wmx</string>
	<key>wmz</key>
	<string>application/x-ms-wmz</string>
	<key>wpng</key>
	<string>image/x-up-wpng</string>
	<key>wpt</key>
	<string>x-lml/x-gps</string>
	<key>wri</key>
	<string>application/x-mswrite</string>
	<key>wrl</key>
	<string>x-world/x-vrml</string>
	<key>wrz</key>
	<string>x-world/x-vrml</string>
	<key>ws</key>
	<string>text/vnd.wap.wmlscript</string>
	<key>wsc</key>
	<string>application/vnd.wap.wmlscriptc</string>
	<key>wv</key>
	<string>video/wavelet</string>
	<key>wvx</key>
	<string>video/x-ms-wvx</string>
	<key>wxl</key>
	<string>application/x-wxl</string>
	<key>x-gzip</key>
	<string>application/x-gzip</string>
	<key>xar</key>
	<string>application/vnd.xara</string>
	<key>xbm</key>
	<string>image/x-xbitmap</string>
	<key>xdm</key>
	<string>application/x-xdma</string>
	<key>xdma</key>
	<string>application/x-xdma</string>
	<key>xdw</key>
	<string>application/vnd.fujixerox.docuworks</string>
	<key>xht</key>
	<string>application/xhtml+xml</string>
	<key>xhtm</key>
	<string>application/xhtml+xml</string>
	<key>xhtml</key>
	<string>text/xhtml+xml</string>
	<key>xla</key>
	<string>application/vnd.ms-excel</string>
	<key>xlc</key>
	<string>application/vnd.ms-excel</string>
	<key>xll</key>
	<string>application/x-excel</string>
	<key>xlm</key>
	<string>application/vnd.ms-excel</string>
	<key>xls</key>
	<string>application/vnd.ms-excel</string>
	<key>xlsx</key>
	<string>application/vnd.ms-excel</string>
	<key>xlt</key>
	<string>application/vnd.ms-excel</string>
	<key>xlw</key>
	<string>application/vnd.ms-excel</string>
	<key>xm</key>
	<string>audio/x-mod</string>
	<key>xml</key>
	<string>text/xml</string>
	<key>xmz</key>
	<string>audio/x-mod</string>
	<key>xpi</key>
	<string>application/x-xpinstall</string>
	<key>xpm</key>
	<string>image/x-xpixmap</string>
	<key>xsit</key>
	<string>text/xml</string>
	<key>xsl</key>
	<string>text/xml</string>
	<key>xul</key>
	<string>text/xul</string>
	<key>xwd</key>
	<string>image/x-xwindowdump</string>
	<key>xyz</key>
	<string>chemical/x-pdb</string>
	<key>yml</key>
	<string>text/yml</string>
	<key>yz1</key>
	<string>application/x-yz1</string>
	<key>z</key>
	<string>application/x-compress</string>
	<key>zac</key>
	<string>application/x-zaurus-zac</string>
	<key>zip</key>
	<string>application/zip</string>
	<key>zsh</key>
	<string>text/x-zsh</string>
</dict>
</plist>
